@mixin scale {
  transition: 250ms;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 2s;
}
