// @font-face {
//   font-family: "Montserrat" sans-serif;
//   src: url("../static/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
// }

// @font-face {
//   font-family: Open Sans;
//   src: url("../static/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
// }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,900;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 12px;
}

a {
  text-decoration: none;
}

h4 {
  font-size: 18px;
  line-height: 21.94px;
  font-weight: 700;
}

@mixin os-normal {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: $text-gray;
  text-transform: capitalize;
}
